body {
 background-color: rgba( 227, 79, 79, 0.6);
}

.li1 {
    color: blue;
}

.li2 {
    color: red;
}

div {
    margin-top: 100px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 15px;
    justify-content: space-around;
    border-style: inset;
}

.input_type {
    border-style: inset;
    width: 400px;
}

